skills/*
yl_*/*
*.sqlite
advtrains*.ls
advtrains_version
areas.dat
atm_accounts
beds_spawns
building_sign_areas
building_signs
doc.mt
env_meta.txt
force_loaded.txt
highscore.txt
ipban.txt
luaentities
map_meta.txt
mesecon_actionqueue
named_waypoints_settlements.txt
playereffects.mt
unified_inventory_home.home
working_villages_building_sites
working_villages_data
working_villages_homes
world.mt
xp_areas.dat
yl_speak_up_npc_list.data
ranks.json
yl_speak_up_player_vars.json
mod_storage.sqlite-journal
bell_positions.data
christmas_bell_positions.data
mana.mt
