[submodule "3d_armor"]
	path = worldmods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
	branch = main
[submodule "3d_armor_flyswim"]
	path = worldmods/3d_armor_flyswim
	url = https://github.com/sirrobzeroone/3d_armor_flyswim.git
[submodule "advtrains"]
	path = worldmods/advtrains
	url = https://git.bananach.space/advtrains.git
	branch = release-2.4.6
[submodule "advtrains_subway_ny"]
	path = worldmods/advtrains_subway_ny
	url = https://codeberg.org/advtrains_supplemental/advtrains_subway_ny.git
[submodule "ambience"]
	path = worldmods/ambience
	url = https://codeberg.org/tenplus1/ambience.git
[submodule "armor_monoid"]
	path = worldmods/armor_monoid
	url = https://github.com/minetest-mods/armor_monoid.git
[submodule "atm"]
	path = worldmods/atm
	url = https://github.com/Git-Forked/atm.git
[submodule "moreawards-MT-Mod"]
	path = moreawards-MT-Mod
	url = https://github.com/ClothierEdward/moreawards-MT-Mod.git
[submodule "awards"]
	path = worldmods/awards
	url = https://gitlab.com/rubenwardy/awards.git
[submodule "bakedclay"]
	path = worldmods/bakedclay
	url = https://codeberg.org/tenplus1/bakedclay.git
[submodule "basic_materials"]
	path = worldmods/basic_materials
	url = https://github.com/mt-mods/basic_materials.git
[submodule "basic_trains"]
	path = worldmods/basic_trains
	url = http://git.bananach.space/basic_trains.git
[submodule "beds"]
	path = worldmods/beds
	url = https://codeberg.org/tenplus1/beds.git
[submodule "bees"]
	path = worldmods/bees
	url = https://codeberg.org/tenplus1/bees.git
[submodule "bell"]
	path = worldmods/bell
	url = https://github.com/Sokomine/bell.git
[submodule "bike"]
	path = worldmods/bike
	url = https://gitlab.com/h2mm/bike.git
[submodule "minetest_biomeinfo"]
	path = worldmods/minetest_biomeinfo
	url = https://codeberg.org/Wuzzy/minetest_biomeinfo.git
[submodule "bonemeal"]
	path = worldmods/bonemeal
	url = https://codeberg.org/tenplus1/bonemeal.git
[submodule "builtin_item"]
	path = worldmods/builtin_item
	url = https://codeberg.org/tenplus1/builtin_item.git
[submodule "character_anim"]
	path = worldmods/character_anim
	url = https://github.com/appgurueu/character_anim.git
[submodule "cheese"]
	path = worldmods/cheese
	url = https://github.com/AnnalysaTheMinetester/cheese.git
[submodule "christmas_decor"]
	path = worldmods/christmas_decor
	url = https://github.com/GreenXenith/christmas_decor.git
[submodule "controls"]
	path = worldmods/controls
	url = https://github.com/mt-mods/controls.git
[submodule "cottages"]
	path = worldmods/cottages
	url = https://github.com/C-C-Minetest-Server/cottages.git
[submodule "currency"]
	path = worldmods/currency
	url = https://github.com/mt-mods/currency.git
[submodule "death_compass"]
	path = worldmods/death_compass
	url = https://github.com/minetest-mods/death_compass.git
[submodule "death_messages"]
	path = worldmods/death_messages
	url = https://github.com/randomei/death_messages.git
[submodule "dfcaverns"]
	path = worldmods/dfcaverns
	url = https://github.com/FaceDeer/dfcaverns.git
[submodule "digilines"]
	path = worldmods/digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "digtron"]
	path = worldmods/digtron
	url = https://github.com/minetest-mods/digtron.git
[submodule "drawers"]
	path = worldmods/drawers
	url = https://github.com/minetest-mods/drawers.git
[submodule "drinks"]
	path = worldmods/drinks
	url = https://github.com/minetest-mods/drinks.git
[submodule "ebiomes"]
	path = worldmods/ebiomes
	url = https://github.com/CowboyLva/ebiomes.git
[submodule "edit_skin"]
	path = worldmods/edit_skin
	url = https://github.com/MrRar/edit_skin.git
[submodule "elevator"]
	path = worldmods/elevator
	url = https://github.com/tigris-mt/elevator.git
[submodule "fakelib"]
	path = worldmods/fakelib
	url = https://github.com/OgelGames/fakelib.git
[submodule "farming"]
	path = worldmods/farming
	url = https://codeberg.org/tenplus1/farming.git
[submodule "worldmods/minetest-flow"]
	path = worldmods/minetest-flow
	url = https://gitlab.com/luk3yx/minetest-flow.git
[submodule "worldmods/minetest-fmod"]
	path = worldmods/minetest-fmod
	url = https://github.com/fluxionary/minetest-fmod.git
[submodule "worldmods/minetest-formspec_ast"]
	path = worldmods/minetest-formspec_ast
	url = https://gitlab.com/luk3yx/minetest-formspec_ast.git
[submodule "worldmods/minetest-futil"]
	path = worldmods/minetest-futil
	url = https://github.com/fluxionary/minetest-futil.git
[submodule "worldmods/geomoria"]
	path = worldmods/geomoria
	url = https://github.com/randomei/geomoria.git
[submodule "worldmods/geomoria_lootchests"]
	path = worldmods/geomoria_lootchests
	url = https://github.com/randomei/geomoria_lootchests.git
[submodule "worldmods/ggraffiti"]
	path = worldmods/ggraffiti
	url = https://github.com/grorp/ggraffiti.git
[submodule "worldmods/goblins"]
	path = worldmods/goblins
	url = https://gitlab.com/freelikegnu/goblins.git
[submodule "worldmods/halloween"]
	path = worldmods/halloween
	url = https://github.com/GreenXenith/halloween.git
[submodule "worldmods/handle_schematics"]
	path = worldmods/handle_schematics
	url = https://github.com/Sokomine/handle_schematics.git
[submodule "worldmods/hangglider"]
	path = worldmods/hangglider
	url = https://github.com/mt-mods/hangglider.git
[submodule "worldmods/minetest_hbarmor"]
	path = worldmods/minetest_hbarmor
	url = https://codeberg.org/Wuzzy/minetest_hbarmor.git
[submodule "worldmods/minetest_hbhunger"]
	path = worldmods/minetest_hbhunger
	url = https://codeberg.org/Wuzzy/minetest_hbhunger.git
[submodule "worldmods/hidden_doors"]
	path = worldmods/hidden_doors
	url = https://github.com/randomei/hidden_doors.git
[submodule "worldmods/homedecor_modpack"]
	path = worldmods/homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack.git
[submodule "worldmods/minetest_hudbars"]
	path = worldmods/minetest_hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "worldmods/minetest-inventory_ores"]
	path = worldmods/minetest-inventory_ores
	url = https://github.com/fluxionary/minetest-inventory_ores.git
[submodule "worldmods/item_drop"]
	path = worldmods/item_drop
	url = https://github.com/minetest-mods/item_drop.git
[submodule "worldmods/leads"]
	path = worldmods/leads
	url = https://codeberg.org/SilverSandstone/leads.git
[submodule "worldmods/lighting_monoids"]
	path = worldmods/lighting_monoids
	url = https://github.com/t-affeldt/lighting_monoids.git
[submodule "worldmods/lootchests_modpack"]
	path = worldmods/lootchests_modpack
	url = https://github.com/mt-historical/lootchests_modpack.git
[submodule "worldmods/ma_pops_furniture"]
	path = worldmods/ma_pops_furniture
	url = https://github.com/Gerold55/ma_pops_furniture.git
[submodule "worldmods/magic_materials"]
	path = worldmods/magic_materials
	url = https://github.com/mt-historical/magic_materials.git
[submodule "worldmods/mailbox"]
	path = worldmods/mailbox
	url = https://github.com/C-C-Minetest-Server/mailbox.git
[submodule "worldmods/mesecons"]
	path = worldmods/mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "worldmods/mesecraft_christmas"]
	path = worldmods/mesecraft_christmas
	url = https://github.com/randomei/mesecraft_christmas.git
[submodule "worldmods/mesecraft_holiday_lights"]
	path = worldmods/mesecraft_holiday_lights
	url = https://github.com/randomei/mesecraft_holiday_lights.git
[submodule "worldmods/mesecraft_mobs"]
	path = worldmods/mesecraft_mobs
	url = https://github.com/randomei/mesecraft_mobs.git
[submodule "worldmods/mg_villages"]
	path = worldmods/mg_villages
	url = https://github.com/randomei/mg_villages.git
