[submodule "3d_armor"]
	path = worldmods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
	branch = main
[submodule "3d_armor_flyswim"]
	path = worldmods/3d_armor_flyswim
	url = https://github.com/sirrobzeroone/3d_armor_flyswim.git
[submodule "advtrains"]
	path = worldmods/advtrains
	url = https://github.com/randomei/advtrains.git
	branch = release-2.4.6
[submodule "advtrains_subway_ny"]
	path = worldmods/advtrains_subway_ny
	url = https://github.com/randomei/advtrains_subway_ny.git
[submodule "ambience"]
	path = worldmods/ambience
	url = https://codeberg.org/tenplus1/ambience.git
[submodule "armor_monoid"]
	path = worldmods/armor_monoid
	url = https://github.com/minetest-mods/armor_monoid.git
[submodule "atm"]
	path = worldmods/atm
	url = https://github.com/Git-Forked/atm.git
[submodule "moreawards-MT-Mod"]
	path = moreawards-MT-Mod
	url = https://github.com/ClothierEdward/moreawards-MT-Mod.git
[submodule "awards"]
	path = worldmods/awards
	url = https://gitlab.com/rubenwardy/awards.git
[submodule "bakedclay"]
	path = worldmods/bakedclay
	url = https://github.com/randomei/bakedclay.git
[submodule "basic_materials"]
	path = worldmods/basic_materials
	url = https://github.com/randomei/basic_materials.git
[submodule "basic_trains"]
	path = worldmods/basic_trains
	url = http://git.bananach.space/basic_trains.git
[submodule "beds"]
	path = worldmods/beds
	url = https://github.com/randomei/beds.git
[submodule "bees"]
	path = worldmods/bees
	url = https://github.com/randomei/bees.git
	branch = main
[submodule "bell"]
	path = worldmods/bell
	url = https://github.com/Sokomine/bell.git
[submodule "bike"]
	path = worldmods/bike
	url = https://github.com/randomei/bike.git
[submodule "minetest_biomeinfo"]
	path = worldmods/minetest_biomeinfo
	url = https://codeberg.org/Wuzzy/minetest_biomeinfo.git
[submodule "bonemeal"]
	path = worldmods/bonemeal
	url = https://codeberg.org/tenplus1/bonemeal.git
[submodule "builtin_item"]
	path = worldmods/builtin_item
	url = https://codeberg.org/tenplus1/builtin_item.git
[submodule "character_anim"]
	path = worldmods/character_anim
	url = https://github.com/appgurueu/character_anim.git
[submodule "cheese"]
	path = worldmods/cheese
	url = https://github.com/AnnalysaTheMinetester/cheese.git
[submodule "christmas_decor"]
	path = worldmods/christmas_decor
	url = https://github.com/GreenXenith/christmas_decor.git
[submodule "controls"]
	path = worldmods/controls
	url = https://github.com/mt-mods/controls.git
[submodule "cottages"]
	path = worldmods/cottages
	url = https://github.com/randomei/cottages.git
[submodule "currency"]
	path = worldmods/currency
	url = https://github.com/mt-mods/currency.git
[submodule "death_compass"]
	path = worldmods/death_compass
	url = https://github.com/minetest-mods/death_compass.git
[submodule "death_messages"]
	path = worldmods/death_messages
	url = https://github.com/randomei/death_messages.git
[submodule "dfcaverns"]
	path = worldmods/dfcaverns
	url = https://github.com/randomei/dfcaverns.git
[submodule "digilines"]
	path = worldmods/digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "digtron"]
	path = worldmods/digtron
	url = https://github.com/minetest-mods/digtron.git
[submodule "drawers"]
	path = worldmods/drawers
	url = https://github.com/randomei/drawers.git
[submodule "drinks"]
	path = worldmods/drinks
	url = https://github.com/minetest-mods/drinks.git
[submodule "ebiomes"]
	path = worldmods/ebiomes
	url = https://github.com/CowboyLva/ebiomes.git
[submodule "edit_skin"]
	path = worldmods/edit_skin
	url = https://github.com/MrRar/edit_skin.git
[submodule "elevator"]
	path = worldmods/elevator
	url = https://github.com/tigris-mt/elevator.git
[submodule "fakelib"]
	path = worldmods/fakelib
	url = https://github.com/OgelGames/fakelib.git
[submodule "farming"]
	path = worldmods/farming
	url = https://codeberg.org/tenplus1/farming.git
[submodule "worldmods/minetest-flow"]
	path = worldmods/minetest-flow
	url = https://gitlab.com/luk3yx/minetest-flow.git
[submodule "worldmods/minetest-fmod"]
	path = worldmods/minetest-fmod
	url = https://github.com/fluxionary/minetest-fmod.git
[submodule "worldmods/minetest-formspec_ast"]
	path = worldmods/minetest-formspec_ast
	url = https://gitlab.com/luk3yx/minetest-formspec_ast.git
[submodule "worldmods/minetest-futil"]
	path = worldmods/minetest-futil
	url = https://github.com/fluxionary/minetest-futil.git
[submodule "worldmods/geomoria"]
	path = worldmods/geomoria
	url = https://github.com/randomei/geomoria.git
[submodule "worldmods/geomoria_lootchests"]
	path = worldmods/geomoria_lootchests
	url = https://github.com/randomei/geomoria_lootchests.git
[submodule "worldmods/ggraffiti"]
	path = worldmods/ggraffiti
	url = https://github.com/grorp/ggraffiti.git
[submodule "worldmods/goblins"]
	path = worldmods/goblins
	url = https://gitlab.com/freelikegnu/goblins.git
[submodule "worldmods/halloween"]
	path = worldmods/halloween
	url = https://github.com/GreenXenith/halloween.git
[submodule "worldmods/handle_schematics"]
	path = worldmods/handle_schematics
	url = https://github.com/Sokomine/handle_schematics.git
[submodule "worldmods/hangglider"]
	path = worldmods/hangglider
	url = https://github.com/mt-mods/hangglider.git
[submodule "worldmods/minetest_hbarmor"]
	path = worldmods/minetest_hbarmor
	url = https://codeberg.org/Wuzzy/minetest_hbarmor.git
[submodule "worldmods/minetest_hbhunger"]
	path = worldmods/minetest_hbhunger
	url = https://codeberg.org/Wuzzy/minetest_hbhunger.git
[submodule "worldmods/hidden_doors"]
	path = worldmods/hidden_doors
	url = https://github.com/randomei/hidden_doors.git
[submodule "worldmods/homedecor_modpack"]
	path = worldmods/homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack.git
[submodule "worldmods/minetest_hudbars"]
	path = worldmods/minetest_hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "worldmods/minetest-inventory_ores"]
	path = worldmods/minetest-inventory_ores
	url = https://github.com/fluxionary/minetest-inventory_ores.git
[submodule "worldmods/item_drop"]
	path = worldmods/item_drop
	url = https://github.com/minetest-mods/item_drop.git
[submodule "worldmods/leads"]
	path = worldmods/leads
	url = https://codeberg.org/SilverSandstone/leads.git
[submodule "worldmods/lighting_monoids"]
	path = worldmods/lighting_monoids
	url = https://github.com/t-affeldt/lighting_monoids.git
[submodule "worldmods/lootchests_modpack"]
	path = worldmods/lootchests_modpack
	url = https://github.com/mt-historical/lootchests_modpack.git
[submodule "worldmods/ma_pops_furniture"]
	path = worldmods/ma_pops_furniture
	url = https://github.com/Gerold55/ma_pops_furniture.git
[submodule "worldmods/magic_materials"]
	path = worldmods/magic_materials
	url = https://github.com/mt-historical/magic_materials.git
[submodule "worldmods/mailbox"]
	path = worldmods/mailbox
	url = https://github.com/C-C-Minetest-Server/mailbox.git
[submodule "worldmods/mesecons"]
	path = worldmods/mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "worldmods/mesecraft_christmas"]
	path = worldmods/mesecraft_christmas
	url = https://github.com/randomei/mesecraft_christmas.git
[submodule "worldmods/mesecraft_holiday_lights"]
	path = worldmods/mesecraft_holiday_lights
	url = https://github.com/randomei/mesecraft_holiday_lights.git
[submodule "worldmods/mesecraft_mobs"]
	path = worldmods/mesecraft_mobs
	url = https://github.com/randomei/mesecraft_mobs.git
[submodule "worldmods/mg_villages"]
	path = worldmods/mg_villages
	url = https://github.com/randomei/mg_villages.git
[submodule "worldmods/minecart"]
	path = worldmods/minecart
	url = https://github.com/joe7575/minecart.git
[submodule "worldmods/mob_horse"]
	path = worldmods/mob_horse
	url = https://codeberg.org/tenplus1/mob_horse.git
[submodule "worldmods/mobs_redo"]
	path = worldmods/mobs_redo
	url = https://codeberg.org/tenplus1/mobs_redo.git
[submodule "worldmods/mobs_animal"]
	path = worldmods/mobs_animal
	url = https://codeberg.org/tenplus1/mobs_animal.git
[submodule "worldmods/mobs_monster"]
	path = worldmods/mobs_monster
	url = https://codeberg.org/tenplus1/mobs_monster.git
[submodule "worldmods/minetest-mobs_balrog"]
	path = worldmods/minetest-mobs_balrog
	url = https://github.com/fluxionary/minetest-mobs_balrog.git
[submodule "worldmods/mobs_npc"]
	path = worldmods/mobs_npc
	url = https://codeberg.org/tenplus1/mobs_npc.git
[submodule "worldmods/mobs_water"]
	path = worldmods/mobs_water
	url = https://codeberg.org/tenplus1/mobs_water.git
[submodule "worldmods/mobs_skeletons"]
	path = worldmods/mobs_skeletons
	url = https://codeberg.org/tenplus1/mobs_skeletons.git
[submodule "worldmods/modlib"]
	path = worldmods/modlib
	url = https://github.com/appgurueu/modlib.git
[submodule "worldmods/minetest-moreblocks"]
	path = worldmods/minetest-moreblocks
	url = https://github.com/randomei/minetest-moreblocks.git
[submodule "worldmods/morelights"]
	path = worldmods/morelights
	url = https://github.com/random-geek/morelights.git
[submodule "worldmods/moreores"]
	path = worldmods/moreores
	url = https://github.com/randomei/moreores.git
[submodule "worldmods/moretrains"]
	path = worldmods/moretrains
	url = https://git.bananach.space/moretrains.git
[submodule "worldmods/moretrees"]
	path = worldmods/moretrees
	url = https://github.com/randomei/moretrees.git
[submodule "worldmods/multidecor"]
	path = worldmods/multidecor
	url = https://github.com/randomei/multidecor.git
[submodule "worldmods/nativevillages"]
	path = worldmods/nativevillages
	url = https://github.com/Skandarella/nativevillages.git
[submodule "worldmods/nether"]
	path = worldmods/nether
	url = https://github.com/randomei/nether.git
[submodule "worldmods/livingnether"]
	path = worldmods/livingnether
	url = https://github.com/Skandarella/livingnether.git
[submodule "worldmods/npc_talk"]
	path = worldmods/npc_talk
	url = https://gitea.your-land.de/Sokomine/npc_talk.git
[submodule "worldmods/npc_talk_edit"]
	path = worldmods/npc_talk_edit
	url = https://gitea.your-land.de/Sokomine/npc_talk_edit.git
[submodule "worldmods/minetest_offhand"]
	path = worldmods/minetest_offhand
	url = https://github.com/t-affeldt/minetest_offhand.git
[submodule "worldmods/people"]
	path = worldmods/people
	url = https://github.com/Skandarella/people.git
[submodule "worldmods/minetest_pep"]
	path = worldmods/minetest_pep
	url = https://repo.or.cz/minetest_pep.git
[submodule "worldmods/pipeworks"]
	path = worldmods/pipeworks
	url = https://github.com/mt-mods/pipeworks.git
[submodule "worldmods/placement_preview"]
	path = worldmods/placement_preview
	url = https://github.com/KingTheGuy/placement_preview.git
[submodule "worldmods/player_monoids"]
	path = worldmods/player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "worldmods/minetest_playereffects"]
	path = worldmods/minetest_playereffects
	url = https://codeberg.org/Wuzzy/minetest_playereffects.git
[submodule "worldmods/pontoons"]
	path = worldmods/pontoons
	url = https://github.com/minetest-mods/pontoons.git
[submodule "worldmods/powerbanks"]
	path = worldmods/powerbanks
	url = https://github.com/OgelGames/powerbanks.git
[submodule "worldmods/protector"]
	path = worldmods/protector
	url = https://codeberg.org/tenplus1/protector.git
[submodule "worldmods/pvp_toggle"]
	path = worldmods/pvp_toggle
	url = https://github.com/JamesClarke7283/pvp_toggle.git
[submodule "worldmods/redef"]
	path = worldmods/redef
	url = https://git.0x7be.net/dirk/redef.git
[submodule "worldmods/minetest-mod-rocket_launcher"]
	path = worldmods/minetest-mod-rocket_launcher
	url = https://github.com/zmv7/minetest-mod-rocket_launcher.git
[submodule "worldmods/signs_lib"]
	path = worldmods/signs_lib
	url = https://github.com/mt-mods/signs_lib.git
[submodule "worldmods/simple_woodcutter"]
	path = worldmods/simple_woodcutter
	url = https://notabug.org/minetestia/simple_woodcutter.git
[submodule "worldmods/spawners"]
	path = worldmods/spawners
	url = https://bitbucket.org/minetest_gamers/spawners.git
[submodule "worldmods/sprint_lite"]
	path = worldmods/sprint_lite
	url = https://github.com/randomei/sprint_lite.git
[submodule "worldmods/stainedglass"]
	path = worldmods/stainedglass
	url = https://gitlab.com/alerikaisattera/stainedglass.git
[submodule "worldmods/street_signs"]
	path = worldmods/street_signs
	url = https://github.com/mt-mods/street_signs.git
[submodule "worldmods/minetest-subways"]
	path = worldmods/minetest-subways
	url = https://github.com/SamMatzko/minetest-subways.git
[submodule "worldmods/technic_armor"]
	path = worldmods/technic_armor
	url = https://github.com/mt-mods/technic_armor.git
[submodule "worldmods/tga_encoder"]
	path = worldmods/tga_encoder
	url = https://git.minetest.land/erlehmann/tga_encoder.git
[submodule "worldmods/towercrane"]
	path = worldmods/towercrane
	url = https://github.com/minetest-mods/towercrane.git
[submodule "worldmods/minetest_tsm_railcorridors"]
	path = worldmods/minetest_tsm_railcorridors
	url = https://codeberg.org/Wuzzy/minetest_tsm_railcorridors.git
[submodule "worldmods/minetest_tt"]
	path = worldmods/minetest_tt
	url = https://codeberg.org/Wuzzy/minetest_tt.git
[submodule "worldmods/minetest_tt_base"]
	path = worldmods/minetest_tt_base
	url = https://codeberg.org/Wuzzy/minetest_tt_base.git
[submodule "worldmods/tt_armor"]
	path = worldmods/tt_armor
	url = https://github.com/adikalon/tt_armor.git
[submodule "worldmods/tt_food"]
	path = worldmods/tt_food
	url = https://github.com/adikalon/tt_food.git
[submodule "worldmods/unicode_text"]
	path = worldmods/unicode_text
	url = https://git.minetest.land/erlehmann/unicode_text.git
[submodule "worldmods/unifieddyes"]
	path = worldmods/unifieddyes
	url = https://github.com/mt-mods/unifieddyes.git
[submodule "worldmods/visible_wielditem"]
	path = worldmods/visible_wielditem
	url = https://github.com/appgurueu/visible_wielditem.git
[submodule "worldmods/volumetric-lighting"]
	path = worldmods/volumetric-lighting
	url = https://github.com/rollerozxa/volumetric-lighting.git
[submodule "worldmods/waypoints"]
	path = worldmods/waypoints
	url = https://github.com/Krunegan/waypoints.git
[submodule "worldmods/wielded_light"]
	path = worldmods/wielded_light
	url = https://github.com/minetest-mods/wielded_light.git
[submodule "worldmods/wine"]
	path = worldmods/wine
	url = https://codeberg.org/tenplus1/wine.git
[submodule "worldmods/working_villages"]
	path = worldmods/working_villages
	url = https://github.com/theFox6/working_villages.git
[submodule "worldmods/Minetest-WorldEdit"]
	path = worldmods/Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "worldmods/x_bows"]
	path = worldmods/x_bows
	url = https://bitbucket.org/minetest_gamers/x_bows.git
[submodule "worldmods/x_enchanting"]
	path = worldmods/x_enchanting
	url = https://bitbucket.org/minetest_gamers/x_enchanting.git
[submodule "worldmods/xcompat"]
	path = worldmods/xcompat
	url = https://github.com/mt-mods/xcompat.git
[submodule "worldmods/xdecor-libre"]
	path = worldmods/xdecor-libre
	url = https://codeberg.org/Wuzzy/xdecor-libre.git
[submodule "worldmods/xp_redo"]
	path = worldmods/xp_redo
	url = https://github.com/mt-mods/xp_redo.git
[submodule "worldmods/yl_speak_up"]
	path = worldmods/yl_speak_up
	url = https://gitea.your-land.de/Sokomine/yl_speak_up.git
[submodule "worldmods/unified_inventory"]
	path = worldmods/unified_inventory
	url = https://github.com/randomei/unified_inventory.git
[submodule "worldmods/unified_inventory_themes"]
	path = worldmods/unified_inventory_themes
	url = https://gitlab.com/threehymns1/unified_inventory_themes.git
[submodule "worldmods/unified_inventory_plus"]
	path = worldmods/unified_inventory_plus
	url = https://github.com/mt-mods/unified_inventory_plus.git
[submodule "worldmods/morelights_dim"]
	path = worldmods/morelights_dim
	url = https://github.com/randomei/morelights_dim.git
[submodule "worldmods/skills"]
	path = worldmods/skills
	url = https://gitlab.com/zughy-friends-minetest/skills.git
[submodule "worldmods/technic"]
	path = worldmods/technic
	url = https://github.com/randomei/technic.git
[submodule "worldmods/MT-CoreAnim"]
	path = worldmods/MT-CoreAnim
	url = https://github.com/SpacingBat3/MT-CoreAnim.git
